<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles.css" >
    <title>Contact</title>
</head>
<body>
    <nav class="nav">
        <h1>Contact Page</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        

    </nav>
    <div class="contact" style="width:50%;margin:auto;display:flex;flex-direction:column;align-items:center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.299066266388!2d75.80333760636394!3d26.89400218708417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db421e6543edf%3A0x839485b974fe18fb!2sSawai%20Mansingh%20Stadium!5e0!3m2!1sen!2sin!4v1638252680397!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div>
            <a href="https://www.instagram.com/explore/locations/2458338/sms-stadium-jaipur"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/sawaimansinghstadiumjaipur/"><i class="fab fa-facebook"></i></a>
            <a href="https://en.wikipedia.org/wiki/Sawai_Mansingh_Stadium"><i class="fab fa-wikipedia-w"></i></a>
            
        </div>
        <p>Phone <a href="tel:0141 274 4283">0141 274 4283</a></p>
        <p>Mail: <a href="mailto:thedesiwanderer123@gmail.com">thedesiwanderer123@gmail.com</a></p>
    </div>
</body>
</html>