<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css" />
    <title>Home</title>
</head>
<body>
    <nav class="nav">
        <h1>Home</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

    </nav>
    <h1 style="text-align:center;">Sawai Man Singh Stadium </h1>
    <div class="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLEzkq4LDHMZ4QYL9HspmelPt5f5IbjhjNfQ&usqp=CAU" alt="sms">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9bQ06UbxnK-7i09-3fDqMSQZAeRWzazDj4w&usqp=CAU" alt="sms">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYjelcFVxY14n41gMDY8zfqkW0vn8XWOLX6w&usqp=CAU" alt="sms" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc6KpTyrTTJxArrn97UrXOp5pYTvCPaUw5Yg&usqp=CAU" alt="sms">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm8ePKNqFn42ai7fZbC7JUbLWaxNjwEGrBUg&usqp=CAU" alt="sms">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkoLo0yxAJ1_chtHpIT5OposSD2PoskW6Zcg&usqp=CAU" alt="sms">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0FrIgBlIaeKEEuatcbXb30i_XeidZ0C3_4Q&usqp=CAU" alt="sms">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3w1khnLCQFhUaxjjqZgetuM4BM_TnW3rNhA&usqp=CAU" alt="sms">
    </body>
</html>